{erl_opts, []}.
{deps, [{poolboy, {git, "https://github.com/devinus/poolboy", {tag, "1.5.1"}}},
        {waterlily, {git, "git@github.com:skynetstream/waterlily.git", {branch,"master"}}}
       ]}.

{profiles, [
    {test, [
            {deps, []},
            {erl_opts, [debug_info, {i, "include"}]}
    ]}
]}.
